{{ define "add_movie" }}
<div id="add_movie_form_container">
    <h1>Add a new movie</h1>

    <form class="movie-form" hx-post="movie" hx-target="#main-view">
        <div class="field-with-icon">
            <i class="fas fa-font"></i>
            <div hx-post="validate/title" hx-trigger="load" hx-vals='{"title": ""}' hx-target="this"
                hx-swap="outerHTML">
            </div>
        </div>
        <div class="field-with-icon">
            <i class="fas fa-star-half-alt"></i>
            <div hx-post="validate/rate" hx-trigger="load" hx-vals='{"rate": ""}' hx-target="this" hx-swap="outerHTML">
            </div>
        </div>
        <div class="field-with-icon">
            <i class="fas fa-calendar-alt"></i>
            <div hx-post="validate/year" hx-trigger="load" hx-vals='{"year": ""}' hx-target="this" hx-swap="outerHTML">
            </div>
        </div>
        <button type="submit" class="verified-button" id="add_movie_button" title="Submit">
            <i class="fas fa-check-circle"></i>
        </button>
    </form>

</div>
{{ end }}