{{ define "data" }}
<h1>Upload csv</h1>

<form hx-encoding='multipart/form-data' hx-post='/upload'
    _='on htmx:xhr:progress(loaded, total) set #upload-progress.value to (loaded/total)*100' hx-target="#main-view">
    
    <input type='file' name='file'>    
    <br>
    <br>

    <button>Upload</button>
    <br>
    <progress id='upload-progress' value='0' max='100'></progress>
</form>

<h1>Download csv</h1>

<button hx-get='/download' hx-swap="none">Download</button>
{{ end }}