{{ define "data" }}
<div id="import-export-view">
    <form hx-encoding='multipart/form-data' hx-post='/upload' hx-target="#main-view">
        <button type="button" id="open-file-dialog" title="Select file">
            <i class="fas fa-folder-open"></i>
        </button>

        <input id="file-upload-input" type="file" name="file">

        <span id="selected-file-name" class="file-name-placeholder">No file selected</span>

        <button id="file-import-button" type="submit" title="Import file">
            <i class="fas fa-file-import"></i>
        </button>
    </form>

    <button id="file-export-button" title="Export file" hx-get='/download' hx-swap="none">
        <i class="fas fa-file-export"></i>
    </button>
</div>
{{ end }}