{{ define "edit_movie" }}
<div id="edit_movie_form_container">
    <form hx-put="movie/{{ .Id }}" hx-target="#main-view" style="display: flex; flex-direction: column;">
        {{ template "title_input" (WrapStringValidation .Title true) }}
        {{ template "year_input" (WrapStringValidation .Year true) }}
        {{ template "rate_input" (WrapUint8Validation .Rate true) }}
        <button type="submit" class="button verified-button is-primary is-light is-small">Confirm</button>
    </form>
</div>
{{ end }}