{{ define "movie_input" }}
<input class="input-field verified-input {{if .Valid}} valid-input {{ else }} invalid-input {{ end }}" type="text"
    name="{{ .Name }}" id="movie_{{ .Name }}" hx-post="validate/{{ .Name }}" hx-target="this" hx-swap="outerHTML"
    hx-trigger="input changed delay:400ms" value="{{- .Value -}}" placeholder="{{ .Label }}" {{ if not .Valid }}
    title="{{ .Message }}" {{ end }}>
{{ end }}