{{ define "movie" }}
<div class="hero">
    <header class="hero-head has-text-centered title is-1">{{.Title}}</header>
    <div class="hero-body level box has-text-centered">
        <div class="level-item">
            <div class="title is-5">Overview</div>
        </div>
        <div class="level-item">
            <div>
                <p class="heading">Year</p>
                <p class="title is-4">{{.Year}}</p>
            </div>
        </div>
        <div class="level-item">
            <div>
                <p class="heading">Rate</p>
                <p class="title is-4">{{.Rate}}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}