{{ define "movies" }}
<div class="hero is-align-items-center">
    <header class="hero-head title is-1 has-text-centered">Movies</header>
    <div class="hero-body">
        <form class="field is-horizontal"
              hx-put="views/movies/filter" hx-target="#movies_table_body" hx-trigger="load, input delay:150ms" hx-swap="innerHTML">
            <div class="field-label is-normal">
                <label class="label">Filters</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="title" placeholder="Title">
                        <span class="icon is-left"><i class="fas fa-font"></i></span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="rate" placeholder="Rate, eg. 0-10">
                        <span class="icon is-left"><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="year" placeholder="Year, eg. 1950-2005">
                        <span class="icon is-left"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                </div>
            </div>
        </form>

        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th style="cursor: pointer" hx-put="views/movies/sort?by=id" hx-target="#movies_table_body">#</th>
                    <th style="cursor: pointer" hx-put="views/movies/sort?by=title" hx-target="#movies_table_body">Title</th>
                    <th style="cursor: pointer" hx-put="views/movies/sort?by=year" hx-target="#movies_table_body">Year</th>
                    <th style="cursor: pointer" hx-put="views/movies/sort?by=rate" hx-target="#movies_table_body">Rate</th>
                </tr>
                </thead>
                <tbody id="movies_table_body"></tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Rate</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{{ end }}

{{ define "movie-list" }}
{{ range . }}
<tr id="movie_row_{{ . }}" hx-get="movie/{{ . }}/row" hx-trigger="revealed" hx-swap="innerHTML">
    <td>{{ . }}</td>
</tr>
{{ end }}
{{ end }}

{{ define "movie_row" }}
<td>{{ .Id }}</td>
<td>{{ .Title }}</td>
<td>{{ .Year }}</td>
<td>{{ .Rate }}</td>
<td>
    <button type="button" hx-get="movie/{{.Id}}/details" hx-target="#main-view">
                <span class="icon has-text-info">
                    <i class="fas fa-info"></i>
                </span>
    </button>
    <button type="button" hx-get="views/edit-movie/{{ .Id }}" hx-target="#main-view">
                <span class="icon has-text-warning">
                    <i class="fas fa-edit"></i>
                </span>
    </button>
    <button type="button" hx-delete="movie/{{ .Id }}" hx-target="#movie_row_{{ .Id }}"
            hx-confirm='Are you sure you want to delete "{{ .Title }}"?'>
                <span class="icon has-text-danger">
                    <i class="fas fa-trash-alt"></i>
                </span>
    </button>
</td>
{{ end }}