{{ define "movie_details" }}
<div id="movie-details" class="details-view">
    <h1>{{.Title}}</h1>

    <div class="details-section">
        <h2>Overview</h2>
        <div class="details-item">
            <div class="details-item-title">Year</div>
            <div class="details-item-content">{{.Year}}</div>
        </div>
        <div class="details-item">
            <div class="details-item-title">Rate</div>
            <div class="details-item-content">{{.Rate}}</div>
        </div>
    </div>
</div>
{{ end }}