{{ define "search_movie" }}
<div style="display: flex; flex-direction: column;" id="search_movie_form_container" class="hero">
    <header class="hero-head title is-1 has-text-centered">Movies</header>
    <div class="hero-body">
        <form class="field is-horizontal" hx-put="views/movies/filter" hx-target="#search_movie_list_container"
              hx-trigger="load, input delay:150ms">
            <div class="field-label is-normal">
                <label class="label">Filters</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="title" id="search_movie_input_title"
                               placeholder="Filter by title">
                        <span class="icon is-left">
                        <i class="fas fa-font"></i>
                    </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="rate" id="search_movie_input_rate"
                               placeholder="Filter by rate, eg. 0-10">
                        <span class="icon is-left">
                        <i class="fas fa-star-half-alt"></i>
                    </span>
                    </div>
                </div>
            </div>
        </form>
        <div id="search_movie_list_container"></div>
    </div>
</div>
{{ end }}